@font-face {
    font-family: 'Roboto-Thin';
    src: url('./Roboto/Roboto-Bold.ttf');
}

* {
    font-family: Roboto-Thin;
}

.caja {
    border: 2.5px solid black;
    margin: 1vh 2vh;
    flex-grow: 1;
}

#c1 {
    height: 5vh;
    background-color: #EA692F;
}


#c2 {
    height: 40vh;
}

#c3 {
    height: 30vh;
}

#c2,
#c3 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#c4 {
    height: 13vh;
    background-color: #EA692F;
    display: flex;
    align-items: center;
}

#fila {
    display: flex;
    flex-direction: row;
}

#fila .caja#c3 video {
    width: 40%;
    height: auto;
    margin: 0 auto;
    /* Esto garantiza que la altura se ajuste automáticamente manteniendo la proporción */
    display: block;
    /* Asegura que el elemento de video se comporte como un bloque */
}

#columna {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    width: 55%;
    border: 2px lightskyblue solid;
    padding: 1px;
}

h3,
h6 {
    margin: 0;
}

.texto {
    width: 20%;
    border: none;
}

.texto p {
    margin-top: 0;
    font-size: 10px;
}

.texto #titulo {
    background-color: white;
    width: 70%;
}

.lista {
    display: flex;
    align-items: start;
}

.lista ul {
    list-style: none;
    padding-left: 0.5vw;
}

.lista #titulo {
    background-color: white;
}

.lista-horizontal {
    display: flex;
    list-style: none;
    padding: 0;
}

#c4 .lista-horizontal li {
    margin-right: 3vw;
}

#c4 .lista-horizontal li:first-child {
    margin-left: 3vw;
}

svg {
    background-color: white;
    border-radius: 50%;
    border: black 2px solid;
}

#linksNav {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    margin-left: 2vw;
}

#linksNav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: whitesmoke;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#linksNav:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#audio-container {
    text-align: center;
    display: flex;
    align-items: center;
}

#volume-slider {
    width: 100px;
}

#volume-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#volume-button svg {
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
}

#volume-control {
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    #fila .caja#c1 {
        height: auto;
    }

    #fila .caja#c1 ul {
        font-size: 12px;
    }

    #fila .caja#c1 li {
        margin-right: 1vw;
    }

    #fila .caja#c2,
    #fila .caja#c3 {
        width: 100%;
    }

    #fila .caja#c2,
    #fila .caja#c3 video {
        width: 100%;
        height: auto;
    }

    #titulo h3,
    #titulo h6 {
        font-size: 14px;
    }

    .texto p {
        font-size: 10px;
    }

    #volume-control {
        margin-left: 2vw;
    }

    #fila .caja#c4 {
        flex-direction: column;
        align-items: center;
    }

    #fila .caja#c4>div {
        width: 100%;
        margin: 2vh 0;
    }

    #fila .caja#c4 .lista {
        display: block;
        text-align: center;
    }

    #fila .caja#c4 .lista ul {
        list-style: none;
        padding: 0;
    }

    #fila .caja#c4 .lista-horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #fila .caja#c4 .lista-horizontal li {
        margin: 0 1vw;
    }
}